.btn {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  min-width: 100px;
  max-width: 120px;
  margin: 0 auto;
  padding: 4px 16px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f4e041;
  border-radius: 80px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: #ffe302;
  }
}

.disabled {
  color: #ffffff;
  background-color: #b4b4b4;
  pointer-events: none;
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: #b4b4b4;
  }
}
