.container {
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 32px;
  }

  @media (min-width: 1024px) {
    padding: 0 60px;
  }

  @media (min-width: 1280px) {
    width: 1170px;
    padding: 0;
  }
}
