html,
body {
  height: 100%;
}

body {
  min-width: $mobile-width;
  margin: 0;
  color: $black;
  background-color: $bg-color;
  @include font-body;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
