.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 13px 0;
}

.logo {
  flex-shrink: 0;
  width: 104px;
  height: 26px;
  margin-right: 10px;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
